<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Waikikiamukau, New Zealand.  He left New Zealand for England, excelled at the University of Mopery, and served in the Royal Loamshire Regiment.  While in service, he ingented the kanuten valve used in the processing of unobtainium for industrial use.  He founded Acme Manufacturing, later aquired by the Advent Corporation, to commercialize the product.  Mr. Kadigan is now retired and lives in Middlehapton where he raises Gradium frieda. </p>
<p>His favorite quotation is: </p>
<p>Lorem ipsum dolar sit amet, consectetur adipisicing elit, sed do eismond tempor incididunt ut labore et dolore magna aliqua.</p>